@import "tailwindcss";

@theme {
  --color-primary: #f9f9f9;
  --color-surface: #eee;
  --color-surface-alternate: #333333;
  --color-accent: #d09f69;
  --color-fg: #666666;
  --color-alternate: #444444;
}

[data-theme="dark"] {
  --color-primary: #0d0d0d;
  --color-surface: #1d1f20;
  --color-surface-alternate: #ffffff;
  --color-accent: #d09f69;
  --color-fg: #797979;
  --color-alternate: #ffffff;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Mona Sans", sans-serif;
  font-optical-sizing: auto;

  @apply bg-primary text-fg;
}

a {
  @apply text-accent;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

input {
  outline-color: transparent;
  outline-style: outset;
}
